:root {
  --scissors-gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --color-white: rgb(249, 249, 249);
  --color-cyan: hsl(189, 59%, 53%);
  --radial-gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 100vh;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: #fff;
}

.rules-btn {
  background-color: transparent;
  padding: 1rem 4rem;
  color: #fff;
  border: 1px solid var(--color-white);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  letter-spacing: 3px;
  outline: none;
}

.rules-btn:hover {
  border-color: var(--color-cyan);
  color: var(--color-cyan);
  transition: all .2s ease;
}

.rules-btn:active {
  transform: translateY(1px);
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  max-width: 100%;
  width: 70rem;
  border: 3px solid var(--header-outline);
  border-radius: 15px;
  margin-top: 5rem;
}

.game-title {
  line-height: .8;
  color: var(--color-white);
}

.game-score {
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-score span {
  color: var(--score-text);
  letter-spacing: 3px;
}

.game-score .score {
  color: var(--dark-text);
  font-size: 6rem;
}